<div id="container" class="flex-column">
    <div id="buttons-container" class="flex-apart">
        <div id="dpad-container">
            <div></div>
            <div></div>
        </div>
        <div id="a-b-container">
            <div id="a-b-border-container" class="flex-apart">
                <div class="round-button"><span>B</span></div>
                <div class="round-button"><span>A</span></div>
            </div>
        </div>
    </div>
    <div id="buttons-start-container">
        <div class="elongated-button"><span>SELECT</span></div>
        <div class="elongated-button"><span>START</span></div>
    </div>
    <div id="speaker-container">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>